
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f9f9f9;
    color: #333;
}

.container {
    width: 90%;
    max-width: 900px;
    margin: 0 auto;
    padding: 20px;
}

header {
    text-align: center;
    margin-bottom: 20px;
}

header p {
    font-size: 18px;
    color: #555;
}

.form-container {
    background: #fff;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.form-container h1 {
    text-align: center;
    font-size: 24px;
    color: #007bff;
    margin-bottom: 20px;
}

form {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.form-line {
    display: flex;
    gap: 20px;
}

.form-group {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.form-group.full-width {
    flex: 100%;
}

label {
    font-weight: bold;
    margin-bottom: 5px;
}

label .required {
    color: red;
}

input, select, textarea {
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 10px;
    font-size: 14px;
    outline: none;
    transition: border-color 0.3s;
}

input:focus, select:focus, textarea:focus {
    border-color: #007bff;
}

textarea {
    resize: none;
    height: 100px;
}

/* Upload Photos */
.upload-box {
    position: relative;
    border: 2px dashed #ddd;
    border-radius: 5px;
    background-color: #f9f9f9;
    text-align: center;
    padding: 30px 20px;
    cursor: pointer;
    transition: border-color 0.3s;
}

.upload-box input[type="file"] {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    cursor: pointer;
}

.upload-box .upload-content p {
    color: #999;
    font-size: 14px;
}

.upload-box .upload-content span {
    color: #007bff;
    font-weight: bold;
    cursor: pointer;
}

.upload-box.drag-over {
    border-color: #007bff;
}

#preview-container {
    margin-top: 20px;
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
}

.preview-image {
    width: 80px;
    height: 80px;
    object-fit: cover;
    border: 1px solid #ddd;
    border-radius: 5px;
}


.submit-btn {
    background-color: #007bff;
    color: #fff;
    padding: 15px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
    cursor: pointer;
    width: 100%;
    text-align: center;
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
    box-shadow: 0 4px 8px rgba(0, 123, 255, 0.4);
}

.submit-btn:hover {
    background-color: #0056b3;
    box-shadow: 0 6px 12px rgba(0, 123, 255, 0.6);
}

.submit-btn:active {
    background-color: #003d82;
    box-shadow: 0 2px 4px rgba(0, 123, 255, 0.4);
}


